@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
    padding-left: 20px;
    width: 150px;
}
.about-page{
    text-align: center;
    font-size: 100px;
    padding-left: 20px;
    color: rgb(122, 123, 122);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.about-img{
    width: 600px;
    border-radius: 0 20px 20px 0;
    border: 2px solid black;
}

.detail{
    margin-left: 50px;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
.user-card{
    padding-top: 50xp;
}